/*----------------1400px--------------------*/
@media screen and (max-width: 1400px) {
  body{
    width: 1400px; 
  }
  .container{
    width: 1320px; 
  }
  .watch_catalog{
    margin: 30px auto 0;
  }
  .cover{
    background-size: 100% ;
    padding-bottom: 43px;
 }
 .porten{
  width: 200px;
  border: 4px solid #fff;
  padding:60px 10px;
}
.collections{
  justify-content: center;
}
.newcollection{
display: block;
  padding-top: 443px;
  padding-bottom: 120px; 
}
.brends_img{
  display: flex;
  justify-content: space-between;
}
}



/*----------------1200px--------------------*/

@media screen and (max-width: 1200px) {
  body{
    width: 1200px; 
  }
  .container{
    width: 980px; 
  } 
 
}

/*--------------992px-----------------*/

@media screen and (max-width: 992px) {
  .container{
    width: 720px;
  }
 
}

/*---------------768px----------------*/

@media screen and (max-width: 768px) {
  .container{
    width: 540px;
  }
}

/*---------------576px----------------*/

@media screen and (max-width: 576px) {
  .container{
    width: 90%;
  }
}