* {
  padding: 0;
  margin : 0;
  border : 0;
}
a { 
  text-decoration: none; 
  color: #969696;
  font-family: PT Sans, sans-serif ;

 }

 button{
   cursor: pointer;
 }

body{
  background: rgb(0, 0, 0);
  width: 1920px;
  margin: 0 auto;
  color: #fff;
  font-family:  PT Sans, sans-serif ;
  font-style: normal;
  font-weight: normal;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

.date{
  display: flex;
  background: #000;
  color: #969696;
  font-size: 12px;
  padding: 14px 0;
}
.date_text{
  padding-left: 8px;
  
}
.phone_open{
  position: relative;
  width: 12px;
  top: 2px;
  right: 7px;
}

.wraper{
  display: flex;
  justify-content: space-between;
}

nav{
  background: #0F0F0F; 
  text-align: center;
}
.logo{
  margin: 15px 0;
  display : flex

}
.btn_top{
  width: 136px;
  height:1 1 auto;
  padding: 0 5px;
  color: #969696;
  background: #0F0F0F;

}

.btn_top:hover{
  background:#1F1F1F;
  color: #fff;
  transition:  0.5s ;
}

.nav_btn {
 display: flex;
  justify-content: space-between;
 
}

.nav_btn a{
 display: flex;
 margin-left: 15px;
}

.cover{
  align-items:center; 
  background: url("../img/cover.png") no-repeat;
  padding: 150px 0;

}
.cover p, .collection_information p{
margin: 0 auto;
margin-top: 80px;
display: block;
width: 600px;
text-align: center;
line-height: 150%;
font-size: 16px;
}
.porten{
  text-align: center;
  margin: 0 auto;
  width: 320px;
  border: 4px solid #fff;
  padding: 93px 0 130px 0;
}
.porten img{
  
  width: 185px;
  padding-bottom: 10px ;
  border-bottom: 1px solid #fff;
}
h4{
    margin-top: 3px;
    font-family: PT Sans, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
}

.collections{
  display: flex;
  flex-wrap: wrap;
  background: #000;
}

.season{
  width: 1040px;
  padding: 93px 0;

}

 h2{
  font-family: Playfair Display;
  font-size: 36px;
  text-align: center;
  
}

.watch_catalog{
  width: 1040px;
  display: flex;
  justify-content: center;
  margin: 100px auto 0 ;

}

.watch{
margin: 0 25px;
}

.watch img{
  padding: 50px 20px;
  width: 220px;
  background: #191B1C; 
  margin-bottom: 25px;
  transition: 1s;

}
.watch img:hover{
  transform: scale(1.1);
  
}

 
.watch p{
font-family: Playfair Display;
font-size: 16px;
line-height: 19px;
}

h5{
font-family: Playfair Display;
font-size: 18px;
line-height: 21px;
margin-bottom: 18px;
}

.newcollection{

  background: url("../img/newcollection.png") no-repeat;
  width: 880px;
  padding-top: 484px; 
}
.newcollection button, .collection_information button{
  display: flex;
  border: 2px solid #fff;
  margin: 60px auto 0;
  background-color: Transparent; 
}

.newcollection button:hover, .collection_information button:hover, img:hover{
  transform: scale(1.1);
}

.catal{
  padding: 0 13px;
  margin: 12px auto;
  text-align: center;
}

h1{

font-family: Playfair Display;
font-size: 36px;
line-height: 42px;
text-align: center;
}

.collection_photo{
  background: url("../img/collection_photo.png") no-repeat;
  width: 880px;
  height: 600px;
}
.collection_information{
  width: 1040px;
  padding: 100px 0 80px;
}
.collection_information p{
  margin: 79px auto;
}

.newarrivals{
background: #000;
padding:120px 0 ;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.watch_wrap{
  margin: 15px 5px;
}

.brands{
  background: #0F0F0F;
  padding: 60px 0;
}
.brends_img{
  margin-top: 80px;
}
.brends_img a{
  
  justify-content: space-between;
}

.footer_top{
  background: url("../img/footer_img.png") no-repeat;
  padding: 80px 0;
  
}
.container_nav{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 150%;
}

h6{
font-family: Playfair Display, sans-serif ;
font-size: 24px;
line-height: 28px;
margin-bottom: 40px;
}

.footer_categories, .footer_mailing, .footer_shop{
  width: 350px;
}


.footer_categories button, form button{
padding: 10px 20px;
margin: 0 10px 20px 0;
background: #000;
color: #D0D0D0;
}
.footer_categories button:hover, form button:hover{
  background:#181818;
  color: #fff;
  transition:  0.5s ;
}


form{
  margin-top: 30px;
}

input{
  margin: 0;
  width: 195px;
  height: 33px;
  padding-left: 10px;
  color:#000;
  background: #969696;
}

form button{
  margin: 0;
}

.footer_bottom{
  background: #000;
  padding: 15px 0;
  color: #D0D0D0;
  font-size: 12px;
}




